/* Generic */
html {
    background-color: rgb(163, 188, 202) !important;
}
body {
    background-color: rgb(163, 188, 202);
}

.text-secondary {
    margin: auto;
}

hr {
    border-top: 1px solid #2a3033 !important
}

/* Nav */
#myNav {
    border-bottom: .5px solid #2a3033;
    width: 100%;
    background-color: #edf0f2;
}

#page {
    font-size: 25px;
    margin: auto;
}

/* Inner */

#welcomeDiv, #overview {
    padding: 10px;
    position: relative;
}

#overview {
    margin-bottom: 50px;
}

#time {
    position: absolute;
    top: 15%;
    right: 5%;
}


/* Card */
.card {
    border: 1px solid #2a3033;
    flex-direction: row !important;
    height: 15em;
    margin-bottom: 10px;
}

.storeImage {
    border-right: 1px solid #2a3033;
    height: 100%;
    width: 35%;
}

.content {
    width: 65%;
    padding: 10px;
}

.location {
    font-size: 18px;
}

p.product {
    height: 50px;
    overflow: scroll;
}

/* My Own Card */

#routePreview {
    display: flex;
    margin-bottom: 20px;
}

.myOverviewCard {
    margin-right: 10px;
    width: 35%;
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #2a3033;
    border-radius: .25rem;
}

.card-img-top {
    border-bottom: 1px solid #2a3033;
}

.smallContent {
    padding: 10px;
}

.smallContent h5 {
    font-weight: 700;
    font-size: 15px;
}


/* Button */

#myButton {
    border-width: 0 1px 4px 1px;
    background: #eeeeee;
    border-color: #e2e2e2;
    font-weight: bold;
}

#toRoutes {
    color: #555555;
}

#buttonDiv {
    display: flex;
    padding: 10px;
    justify-content: flex-end;
}

/* Profile page */

#profileContainer {
    padding: 10px;
}

#profilePicture {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 15px;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    
}

#profileContainer h5:last-of-type {
    margin-bottom: 25px;
}

#myButton a {
    color: #212529;
}

/* Admin Home */ 

.unassign {
    color: red;
}

#confirmModal h5 {
    color: red;
}

#confirmModal .CONFIRM {
    color: green;
}

#confirmModal .CANCEL {
    color: red;
}



/* Directory */
#employees {
    padding: 5px;
    margin-bottom: 3em;
}

#employees td {
    max-width: 14em !important;
    overflow: scroll;
}

#employeeTable {
    width: 100%;
    background-color: #edf0f2;
    font-size: 12.5px;
}

td, th {
    border: 1px solid #2a3033;
    text-align: center;
}

tr:not(:first-of-type) {
    height: 3em;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

input.directPhoneNumber {
    text-align: center;
    width: 95%;
}

/* Creating Routes  */

#createRouteForm {
    margin-bottom: 2em;
}

#deleteRouteForm {
    margin-bottom: 8em;
}

#createdRoutes, #createRouteForm, #deleteRouteForm {
    padding: 10px;
}

#routesTable {
    width: 100%;
    background-color: #edf0f2;
    font-size: 12.5px;
}

#routeForm {
    padding: 10px;
    background-color: #f7fcff;
    border-radius: 2%;

}

#routeForm input {
    width: 100%;
}

#routeForm button {
    margin-top: 2em;
}

#storeSelector {
    width: 100%;
}

#routeTime {
    height: 2em;
    margin-top: 10px;
}

#routeTime p, #routeTime h5, #routeTime select {
    margin-right: 5px;
    float: left;
}

#routeForm select {
    margin-bottom: 0;
}

/* Assigning Routes  */

#assignedRoutes {
    padding: 10px;
    margin-bottom: 1em;
    position: relative;
}

.refreshButton {
    position: absolute;
    top: 1%;
    right: 3%;
}

#assignARoute {
    padding: 10px;
    margin-bottom: 8em;
}

.left, .right {
    width: 50%;
}

.left {
    padding: 26px;
}

.right {
    text-align: center;
    padding: 10px;
}


.profilePicture {
    height: 8em;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.assigned-card {
    height: 11em;
    position: relative;
}

.location {
    width: 6em;
    font-size: 15px;
}

.incomplete {
    border: 5px solid red;
}

.complete {
    border: 5px solid green;
}

.assigner {
    font-size: 35px;
    position: absolute;
    top: 36%;
    left: 42%;
}

#assignForm {
    padding: 10px;
    background-color: #f7fcff;
    border-radius: 2%;
}

#employeeSelect, #routeSelect {
    width: 100%;
}

#routeSelect {
    margin-bottom: 2em;
}

/* Footer */

footer {
    border-top: .5px solid #2a3033;
    background-color: #edf0f2;
    text-align: center;
    font-size: 28px;
    height: 10%;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}


#adminpagination {
    display: flex;
    margin-top: 1.5%;
    justify-content: space-around;
}

#adminpagination a:not(:first-of-type) {
    margin-left: 16%;
}

.navigation {
    width: 100%;
    margin-bottom: 10%;
}

#pagination {
    margin-top: 1.5%;
    display: flex;
    justify-content: space-around;
}

footer a {
    color: #4d585e;
}