/* Generic */

html{ 
    overflow-x: hidden;
    background-color: rgb(163, 188, 202) !important; 
}

body {
    overflow-x: hidden;
    height: 100vh;
    background-color: rgb(163, 188, 202);
}

#title {
    text-align: center;
    top: -15px;
    left: 25%;

}

.modal-body img {
    width: 100%;
}

.modal-body img:first-of-type {
    margin-bottom: 5%;
}

.card {
    border: transparent !important;
    background-color: transparent !important;
    width: 80%;
    position: absolute;
    top: 10rem;
    left: 10%;
}

#loginCard {
    width: 80%;
    position: absolute;
    top: 15rem;
    left: 10%;
}

.card-body {
    border-style: solid;
    border-color: black; 
    border-width: .5px;
    border-radius: 5px;
    padding: 20px;
    background-color: white;

}

.form-group {
    position: relative;
}

#myButton {
    border-width: 0 1px 4px 1px;
    background: #eeeeee;
    border-color: #e2e2e2;
    font-weight: bold;
}

#eyeButton {
    position: absolute;
    right: 0%;
    bottom: 4%;
    font-size: 18px;
    background: transparent;
    border: none;
}

/* Footer */
footer {
    font-size: 12px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 30px;
}