/* Generic */

html{ 
    overflow-x: hidden;
    background-color: rgb(163, 188, 202) !important; 
}

body {
    overflow-x: hidden;
    height: 100vh;
    background-color: rgb(163, 188, 202);
}

#title {
    text-align: center;
    position: fixed;
    top: -15px;
    left: 25%;

}

.card {
    width: 80%;
    position: absolute;
    top: 5rem;
    left: 10%;
}

#loginCard {
    width: 80%;
    position: absolute;
    top: 11rem;
    left: 10%;
}

.card-body {
    border-style: solid;
    border-color: black; 
    border-width: .5px;
    border-radius: 5px;
    padding: 20px;
    background-color: white;

}

.form-group {
    position: relative;
}

.fa-eye {
    position: absolute;
    right: 5%;
    bottom: 15%;
    font-size: 18px;
}

.fa-eye-slash {
    position: absolute;
    right: 5%;
    bottom: 15%;
    font-size: 18px;
}

/* Footer */
footer {
    font-size: 12px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}